// width
$min-width: 900px;

// height
$h-header: 50px;

// padding
$side-padding: 30px;

// color
$base-font-color: #444;
$white-font-color: #eee;
$base-border-color: #999;
$menu-border-color: #555;

$primary-color: #444;
$secondary-color: #999;
$error-color: pink;
$success-color: #55c500;

$content-bg-color: #f9f9f9;
$form-item-bg-color: #fff;

$form-error-bg-color: #ffd;
$form-error-color: $primary-color;

// font
$base-font-family: RYakuHanJPs, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, Verdana , sans-serif;
$header-font-size: 22px;
$base-font-size: 16px;
$button-font-size: 16px;
$menu-font-size: 20px;

// header height
$header-height: 70px;

// menu
$menu-item-height: 65px;

// break point
$break-point: 768px;
